@import "reset";
@import "variables";
@import "mixins";

.container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero{
  &-title{
    font-family: SansSerif;
    font-size: 24px;
    color: slategrey;
  }
  &:hover{
    color: red;
  }
}

@import "sections/all";
