@font-face {
    font-family: Montserrat-bold;
    src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: Montserrat-regular;
    src: url("../fonts/Montserrat-Regular.ttf");
}
*{
    margin: 0 auto;
}
.wrapper{
    text-align: center;
}
/*Header*/
.navbar ul{
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    list-style-type: none;
}
.navbar li{
    display: inline-block;
    padding-left: 50px;
}
.navbar a{
    text-decoration: none;
    font-family: Montserrat-bold;
    color: #FF0000;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
}
.header-image img{
    width: 100%
}
/*Main*/
.content h2{
    margin-top: 49px;
    margin-bottom: 38px;
    font-family: Montserrat-bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
.content p{
    font-family: Montserrat-regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-left: 67.5px;
    margin-right: 67.5px;
}
.getStartedButton{
    width: 191px;
    height: 51px;
    background: #FF0000;
    border: #FF0000 solid 1px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: Montserrat-bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-top: 66px;
}
/*Footer*/
.legalInfo{
    margin-top: 82px;
    font-family: Montserrat-bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    margin-left: 713px;
    margin-bottom: 29px;
}