* {
    font-family: 'Montserrat', sans-serif;
}

.width-container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}

/*HOME PAGE*/
.home-page {
    background-image: url("../img/background/section-1(header).jpg");
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header {
    background: rgba(94, 93, 88, 0.6);
    height: 120px;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo > a {
    display: flex;
    text-decoration: none;
}

.hexagon {
    width: 58px;
    height: 67px;
    background-color: #18CFAB;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hexagon h1 {
    display: flex;
    justify-content: center;
    padding-top: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
}

.header-logo p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 6px;
    padding-top: 8px;
}

.header-logo span {
    font-weight: bold;
    color: #18CFAB;
}

.header-nav-list {
    display: flex;
}

.header-nav-list li {
    list-style-type: none;
    margin-right: 21px;
    padding: 46px 0;
    border-bottom: 2px solid transparent;
}

.header-nav-list a:hover {
    color: #18CFAB;
}

.header-nav-list li:hover {
    border-bottom-color: #18CFAB;
}

.header-nav-list a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
}

.header-main-block {
    font-weight: bold;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin: 250px 0 176px 0;
}

.header-text {
    margin-bottom: 130px;
}

.header-top-text {
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 1px;
}

.header-top-text > span {
    color: #17cfab;
}

.header-main-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    line-height: 140px;
}

.header-bottom-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 34px;
    color: #D4D4D4;
}

.green-btn, .blue-btn {
    width: 169px;
    height: 63px;
    border: none;
    box-shadow: 0 -5px white;
    border-radius: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    margin: 0 13px;
}

.blue-btn {
    background-color: #00CBF6;
}

.green-btn {
    background-color: #18CFAB;
}

/*FOUR OPTIONS*/
.options-container {
    width: 100%;
    display: flex;
}

.option {
    margin: 8px 0;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 24px;
    padding: 100px 0;
}

.option > p {
    margin-top: 50px;
    margin-bottom: 10px;
}


.light-green {
    background-color: #18CFAB;
    flex: 1;
    color: #FFFFFF;
}

.dark-green {
    background-color: #1C2A33;
    flex: 1;
    color: #18CFAB;
}

.icon {
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*OUR SERVICES*/

.black-heading {
    font-family: Montserrat;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 85px;
    color: #4E4E4E;
}

.black-heading:after {
    display: block;
    text-align: center;
    content: '';
    width: 79px;
    border-bottom: 2px solid #18CFAB;
    margin-top: 24px;
    margin-left: 47%;
    box-shadow: #18CFAB 12px 4px;
}

.services-navbar {
    margin-top: 70px;
    display: flex;
}

.services-nav-item {
    display: flex;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    width: 194px;
    height: 70px;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 40px;
    color: #717171;
    cursor: pointer;
}

.services-nav-item-active {
    border: 1px solid #18CFAB;
    color: #FFFFFF;
    background: #18CFAB;
}

.services-nav-item-active:after {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    border-top: 20px solid #18CFAB;
    top: 90%;
    left: 39%;
}

.services-info {
    margin-top: 25px;
    margin-bottom: 90px;
}

.services-info-item {
    display: none;
}

.services-info-item-active {
    font-family: Montserrat;
    display: flex;
    color: #777777;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}


.services-text {
    display: inline-block;
    margin-left: 15px;
}

.services-img > img {
    width: 190px;
    height: 140px;
}

/*SECTION PURCHASE*/

.purchase {
    background: url("../img/background/section-2.jpg"), no-repeat, 100%, fixed;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
}

.purchase-container {
    text-align: center;
    padding: 130px 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.purchase-heading {
    font-family: Montserrat;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18CFAB;
}

.purchase-text {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-top: 12px;
}

.purchase-container > .green-btn {
    margin-top: 60px;
}

/*SECTION AMAZING WORK*/
.amazing-work {
    background: #E9EDEF;
    margin-bottom: 100px;
}

.amazing-nav-list {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.amazing-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DADADA;
    padding: 15px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 14px;
    color: #717171;
    text-align: center;
}

.amazing-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.amazing-item {
    width: 284px;
    height: 206px;
}

.amazing-category-img {
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px #18CFAB solid;
    cursor: pointer;
}

.amazing-category-img-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-top: 24px;
}

.amazing-category-type {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

.amazing-item:hover .amazing-img {
    display: none;
}

.amazing-item:hover .amazing-category-img {
    display: flex;
    cursor: pointer;
}

.load-btn-container {
    padding-top: 70px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.load-more-btn {
    width: 169px;
    height: 63px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    background-color: #18CFAB;
}

.loading {
    border-top: 0 #ffffff solid;
    margin-top: 70px;
    margin-bottom: 99px;
    margin-left: 48.5%;
    height: 38px;
}

.hidden {
    display: none;
}

/*SECTION BREAKING NEWS*/
.breaking-news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
}
.breaking-news-item{
    margin-bottom: 40px;
}
.breaking-news-item:hover .calendar{
    background-color: #18CFAB;
}
.breaking-news-item:hover .amazing-post{
    color: #18CFAB;
}

.item-img {
    position: relative;
}

.calendar {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #203E38;
    box-sizing: content-box;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 193px;
}

.calendar p {
    font-family: Montserrat;
    font-size: 16px;
    color: #FFFFFF;
}

.amazing-post {
    font-family: Montserrat;
    font-size: 18px;
    color: #717171;
    font-weight: bold;
    line-height: 28px;
    padding-left: 10px;
}

.amazing-post-additional {
    color: #777777;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    padding-left: 10px;
}


/*SECTION PEOPLE*/
.people {
    background-image: url("../img/background/section-3.jpg");
    background-size: cover;
    background-position: center;
}

.white-heading {
    font-family: Montserrat;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
    padding: 100px 0;
    color: #FFFFFF;
}

.white-heading:after {
    display: block;
    text-align: center;
    content: '';
    width: 79px;
    border-bottom: 2px solid #18CFAB;
    margin-top: 24px;
    margin-left: 47%;
    box-shadow: #18CFAB 12px 4px;
}

.dots-container {
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.people-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-text {
    display: inline-block;
    width: 1160px;
    color: #BBBBBB;
    text-align: center;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

.people-name {
    font-family: Montserrat;
    padding-top: 35px;
    font-size: 20px;
    text-transform: uppercase;
    color: #18CFAB;
    font-weight: bold;
    line-height: 27px;
}

.people-position {
    color: #BBBBBB;
    text-align: center;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

.people-profile > img {
    padding-top: 50px;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider {
    position: relative;
    padding: 50px 35px 100px 35px;
}
.slider .slick-list {
    width: 450px;
    padding: 0 60px;
}

.slick-slider.slick-initialized{
    display: flex;
    align-items: center;
    justify-content: center
}

.slider .slick-arrow {
    position: absolute;
    top: 64px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
    display: flex;
}
.slider .slick-arrow.slick-prev{
    left: 35%;
    background: url("../img/svg/people/Forma 1.svg") center center no-repeat ;
}

.slider .slick-arrow.slick-next{
    right: 32%;
    background: url("../img/svg/people/Forma 2.svg") center center no-repeat;
}

.slider .slick-arrow.slick-prev:hover, .slider .slick-arrow.slick-next:hover{
    background-color: #18CFAB;
}