.button-dec{
    background-color: red;
}
.button-dec-active{
    background-color: gold;
}
.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 50px auto;
}
.burger__line {
    width: 80%;
    height: 8px;
    background-color: white;
    transition: 0.3s all ease-in-out;
}
.burger_toggle .burger__line:first-child {
    transform: rotate(45deg) translate(25px, 25px);
}
.burger_toggle .burger__line:nth-child(2) {
    opacity: 0;
}
.burger_toggle .burger__line:last-child {
    transform: rotate(-45deg) translate(21px, -20px);
}
.to-top-btn{
    position: fixed;
    bottom: 10px;
    right: 10px;
}


