.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
}


.modal {
  width: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #E74C3C;
  border-radius: 4px;
  padding: 25px;
  color: white;

  &__buttons{
    display: flex;
    justify-content: center;
  }



  .crossBtn {
    position: absolute;
    top: 10px;
    right: 5px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 20px;
    padding: 10px 15px;

  }
}


