.wrapper {
    background-image: url("../img/background 1.png");
    background-size: 100%;
    font-family: "Roboto";
}

.container {
    width: 1030px;
    margin: 0 auto;
}

/*HEADER SECTION*/

.header a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 26px;
}

.logo:hover .image-logo {
    background-image: url("../img/logo 2 (orange).png");
    display: inline-block;
    width: 53px;
    height: 47px;
}

.logo:hover .text-logo > p {
    color: #F26522;
}

.image-logo {
    width: 53px;
    height: 47px;
    background-image: url("../img/logo 3.png");
    display: inline-block;
}

.text-logo {
    display: inline-block;
}

.milan-text {
    font-size: 29px;
    font-weight: bold;
    line-height: 29px;
    color: #FFFFFF;
}

.holidays-text {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    font-weight: bold;
}

.right-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.right-info p {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.right-info:hover .mail-to {
    color: #F26522;
}

.right-info:hover > p {
    color: #F26522;
}

.mail-to {
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

/*MAIN SECTION*/
.img img {
    width: 305px;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 37px;
}

.text-under-img {
    padding-top: 20px;
    text-align: center;
}

.text-under-img a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
    padding-top: 20px;
}

.hover-container {
    width: 305px;
    height: 55px;
    background-color: #F26522;
    display: none;
    border: transparent;
}

.hover-container p {
    color: #FFFFFF;
    padding-left: 16px;
    font-size: 10px;
    padding-top: 8px;
}

.hover-container span {
    display: inline-block;
    color: #FFFFFF;
    font-size: 20px;
    padding-top: 8px;
    padding-left: 16px;
}

.view-details-hover-link {
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding-left: 128px;
}

.view-details-hover-link:after {
    content: url("../img/Vector 1.svg");
    padding-left: 16px;
}

/*FOOTER SECTION*/

.footer {
    padding-top: 50px;
    padding-bottom: 15px;
    text-align: center;
}

.footer p {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
}

.shopping, .sightseeing, .food, .bars, .art, .walking {
    position: relative;
}

.shopping:hover .hover-container, .sightseeing:hover .hover-container, .food:hover .hover-container, .bars:hover .hover-container, .art:hover .hover-container, .walking:hover .hover-container {
    display: block;
    position: absolute;
    top: 170px;
}
.shopping:hover .text-under-img > a, .sightseeing:hover .text-under-img > a, .food:hover .text-under-img > a, .bars:hover .text-under-img > a, .art:hover .text-under-img > a, .walking:hover .text-under-img > a{
    color: #F26522;
}