.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 300px;
    font-size: 70px;
    color: black;
    background-color: #fffa82;
    box-shadow: 3px 3px 30px #7b7b7b;
}

.button-random {
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
    background-color: #72ff82;
    outline: none;
    font-size: 20px;
    box-shadow: 2px 2px 30px  #7b7b7b ;
    border-radius: 10px;
}

.button-random + #reset {
    background-color: #fffa82;
}