:root {
    --radius: 10px
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1;
}

.list {
    width: 450px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.list-head {
    text-align: center;
}

.list__item {
    padding: 10px 25px;
    font-size: 20px;
    background-color: teal;
    color: #fff;
}

.list__item--marker::before {
    content: '-';
    margin-right: 10px;
}

.list__item:not(:last-child) {
    margin-bottom: 10px;
}

.login-form {
    width: 300px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: var(--radius);
    background-color: lightblue;
    box-shadow: 4px 4px 8px 0 slategray;
}

.login-form__label {
    width: 100%;
    font-size: 18px;
}

.login-form__input {
    outline: none;
    padding: 10px 20px;
    border-radius: var(--radius);
    border: none;
    margin-bottom: 15px;
}

.login-form__input--select {
    width: 100%;
    margin-top: 10px;
}

.login-form__input:focus,
.login-form__btn:focus {
    box-shadow: 2px 2px 4px 0 slategray;
}

.login-form__btn {
    outline: none;
    border: none;
    align-self: flex-end;
    cursor: pointer;
    text-transform: uppercase;
    color: #000;
    padding: 10px 35px;
    background-color: azure;
    border-radius: var(--radius);
}
.login-form__error{
    color: #FF0000;
}
