body {
    background: url("../images/Фон 1.png") no-repeat;
    background-size: cover;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-Regular.ttf");
}

/*header*/
.container header {
    background: rgba(0, 0, 0, 0.4);
}

.header-menu {
    display: flex;
    justify-content: space-between;
}

.journey {
    font-family: Ubuntu;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    padding-left: 79px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-transform: uppercase;
}

.journey:hover {
    color: #3CB878;
    cursor: default;
}

.header-left-menu {
    display: flex;
    align-items: center;
    padding-left: 700px;
}

.icon {
    display: inline-block;
    width: 25px;
    height: 24px;
    background-image: url("../sprites/header-icons.png");
}

.icon.icon-calendar {
    background-position: 0 0;
}

.icon.icon-calendar:hover {
    background-image: url("../sprites/header-icons-hover.png");
    background-position: -3px 0;
    cursor: pointer;
}

.icon.icon-envelope {
    background-position: -50px 0;
    margin-left: 25px;
}

.icon.icon-envelope:hover {
    background-image: url("../sprites/header-icons-hover.png");
    background-position: -50px 0;
    cursor: pointer;
}

.icon.icon-compass {
    background-position: -98px 0;
    margin-left: 25px;
}

.icon.icon-compass:hover {
    background-image: url("../sprites/header-icons-hover.png");
    background-position: -98px 0;
    cursor: pointer;
}

.header-register {
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-right: 80px;
    padding-left: 50px;
}

.header-register:before {
    content: '';
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    margin-right: 27px;
}

.header-register a {
    text-decoration: none;
    color: #FFFFFF;
}

.header-register a:hover {
    color: #3CB878;
}

/*main*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
}

.main-form {
    margin: auto;
    width: 444px;
    background: #FFFFFF;
}

.green-square {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #3CB878;
    margin-top: 29px;
}

.form-top-menu span {
    font-family: Ubuntu;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin-left: 60px;
}

.form-top-menu a {
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    margin-left: 215px;
    text-decoration: none;
}

.form-top-menu a:hover {
    text-decoration: underline;
}

.button {
    width: 160px;
    height: 48px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.button span {
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    padding: 6px 18px;
    color: #FFFFFF;
}

.button i {
    font-size: 15px;
    color: #FFFFFF;
    padding-right: 10px;
}

.facebook-button {
    background: #305DB8;
    margin-left: 60px;
    margin-right: 4px;
    border-color: #305DB8;
}

.google-button {
    background: #DF4A32;
    border-color: #DF4A32;
}

.line1, .line2 {
    display: inline-block;
    border: 1px solid #F2F2F2;
    width: 152px;
    margin-top: 40px;
}

.line1 {
    margin-left: 60px;
}

.text-between-lines {
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin-top: 40px;
}

.inputs input[placeholder] {
    display: block;
    margin-left: 60px;
    width: 324px;
    height: 44px;
    margin-top: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.inputs input[placeholder]:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.52);
}

.checkbox {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    padding-top: 12px;
    cursor: pointer;
}

.checkbox > span {
    padding-top: 5px;
    padding-left: 10px;
}

.checkbox > input {
    width: 20px;
    height: 20px;
}

.inputs a {
    cursor: pointer;
    text-decoration: none;
    color: #3CB878;
}

.inputs a:hover {
    text-decoration: underline;
}

.create-account-button {
    display: block;
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 16px;
    margin-left: 60px;
    width: 324px;
    height: 44px;
    margin-top: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    background-color: #3CB878;
    color: #FFFFFF;
    margin-bottom: 38px;
    cursor: pointer;
}












