@import "reset";
@import "mix";
* {
  font-family: sans-serif;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.block {
  background-color: teal;

  &__text {
    @include widthFromTo(80px, 450px);
    vertical-align: top;
    display: inline-block;
    font-size: 24px;
    color: #eee;
  }

  &__img {
    display: inline-block;
    @include widthFromTo(80px, 450px);

    & > img {
      width: 100%;
    }
  }
}

@import "media/all-media";