.modal_overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
}

.modal {
  width: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #E74C3C;
  border-radius: 4px;
  padding: 15px;
  color: white;

  &__buttons {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    width: 100px;
    height: 30px;
    background: yellow;
  }

  &__cross {
    position: fixed;
    top: 10px;
    right: 10px;
  }
}