/*.rectangles{*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    margin: 5px;*/
/*    display: inline-block;*/
/*}*/
.chess-cell{
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0;
}