
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInToTop {
    0% {
        opacity: 0;
        top: 1000px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

