* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.key-marker {
    text-transform: uppercase;
    font-size: 36px;
    margin: 20px auto;
}

.scroll-monitor {
    display: inline-block;
    padding: 10px;
    background-color: cornflowerblue;
    box-shadow: 0 0 0 3px #3b7985;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
}
.scroll-monitor::before {
    content: 'you have scrolled: ';
    font-size: 18px;
    text-transform: uppercase;
}
.moving-image{
    position: relative;
    top:0;
}

.block-first {
    position: relative;
    height: 450px;
    background-color: #ffa;
    margin: 10px 0;
    animation: fadeIn paused 1s 1;
}

.block-second {
    position: relative;
    height: 550px;
    background-color: #faf;
    margin: 10px 0;
    animation: fadeInToTop paused 1s 1;
}

.block-third {
    position: relative;
    height: 850px;
    background-color: #aff;
    margin: 10px 0;
    animation: fadeIn paused 1s 1;
}

.block-forth {
    position: relative;
    height: 250px;
    background-color: #afa;
    margin: 10px 0;
    animation: fadeIn paused 1s 1;

}

.block-fifth {
    position: relative;
    height: 550px;
    background-color: #faa;
    margin: 10px 0;
    animation: fadeInToTop paused 1s 1;
}


.pack-man {
    position: fixed;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pack-man-top {
    width: 150px;
    height: 75px;
    background-color: gold;
    border-radius: 75px 75px 0 0;
    transform-origin: bottom center;
    transform: rotate(-45deg);
}

.pack-man-bottom {
    width: 150px;
    height: 75px;
    background-color: gold;
    border-radius: 0 0 75px 75px;
    transform-origin: top center;
    transform: rotate(45deg);
}

